<table border="1">
<tr>
	<th>Title</th>
	<th>Content</th>
	<th>Status</th>
</tr>
<% @articles.each do |article| %>

<tr>
	<td><%= article.title %></td>
	<td><%= article.content %></td>
	<td><%= article.status %></td>
</tr>
<% end %>
</table>